.utrecht-breadcrumb-nav {
  margin-inline-start: calc(-1 * var(--utrecht-breadcrumb-nav-item-padding-inline-start, 8px));
}

.utrecht-page-header {
  border-block-end: 1px solid var(--rods-color-gray-tint-04);
  margin-block-end: 1.5rem;
}

.utrecht-nav-bar {
  font-size: var(--rods-typography-scale-sm-font-size);
}

.utrecht-nav-bar--button-menu {
  --utrecht-nav-list-column-gap: 1.5rem; /* no space token for 24px */
  --utrecht-nav-list-link-current-border-block-end: 4px solid var(--rods-color-base-green);

  block-size: 100%;
  font-size: var(--rods-typography-scale-md-font-size);
}

.utrecht-nav-list {
  --utrecht-link-color: var(--utrecht-nav-bar-color);
  --utrecht-link-text-decoration: none;

  column-gap: var(--utrecht-nav-list-column-gap, 0);
}

@mixin utrecht-link--with-icon {
  --utrecht-icon-size: var(--utrecht-link-icon-size, 16px);
  --utrecht-icon-color: var(--rods-color-gray-tint-06);

  align-items: center;
  column-gap: var(--rods-space-scale-1);
  display: flex;
}

.utrecht-link--with-icon {
  @include utrecht-link--with-icon;
}

/* Had to do it like this because the <NavLink> component has a bug that overwrites the utrecht-nav-list__link class
when classNames has a value */
.utrecht-nav-list__link {
  @include utrecht-link--with-icon;

  --utrecht-link-icon-size: var(--rods-typography-scale-lg-font-size);
}

.utrecht-nav-list__link[aria-current="page"] {
  border-block-end: var(--utrecht-nav-list-link-current-border-block-end);
}

.utrecht-nav-bar--button-menu .utrecht-nav-list__link {
  --utrecht-link-icon-size: var(--rods-typography-scale-3xl-font-size);

  column-gap: var(--rods-space-scale-2);
}

.utrecht-link--backlink {
  --utrecht-link-text-decoration: none;
  --utrecht-link-hover-text-decoration: underline;

  color: var(--rods-color-gray-tint-11);
  font-size: var(--rods-typography-scale-sm-font-size);
  line-height: var(--rods-typography-scale-sm-line-height);
}

rods-logo-image {
  block-size: 48px;
  display: inline-block;
  inline-size: 240px;
}

.example-page-header__top-bar {
  align-items: center;
  background-color: var(--rods-color-base-gray);
  block-size: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-end: 6rem;
  padding-inline-start: 6rem;
}

.example-page-header__content {
  align-items: center;
  block-size: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-end: 6rem;
  padding-inline-start: 6rem;
}

/*
  // padding idea for screen sizes where content size caps out
  // -4rem is for the header content alignment which start 64px left of the page content start
  @media (min-width: 1564px) {
    .example-page-header-content {
      padding-inline-start: calc((100vw - 1180px) / 2 - 4rem);
    }
  }
 */

.example-footer {
  border-block-start: 3px solid var(--rods-color-base-green);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block-start: 3rem;
  padding-block-start: 1.5rem;
}

.example-footer__navbar {
  align-items: center;
  display: flex;
}

.example-nav-list__divider {
  align-items: center;
  display: flex;
}

.example-card-group {
  column-gap: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.example-card {
  border: 1px solid #ccc;
  flex: 1 1 calc(50% - 2rem);
}
