.rods-date-panels {
  display: grid;
  inline-size: 1180px;
  grid-template-columns: max-content 1fr;
  grid-template-areas:
    "date time"
    "footer footer";
}
.rods-date-panels__panel:nth-child(1) {
  grid-area: date;
}
.rods-date-panels__panel {
  border: 1px solid #cad6da;
}
.rods-date-panels__panel:nth-child(2) {
  grid-area: time;
  border-inline-start-width: 0;
}
.rods-date-panels__panel-header {
  background-color: #eff4f6;
  padding-inline: 24px;
  padding-block: 24px;
}
.rods-date-panels__panel-header > p {
  margin-block: 0;
}
.rods-date-panels__panel-body {
  padding-inline: 24px;
  padding-block: 16px;
}
.rods-date-panels__footer {
  grid-area: footer;
  inline-size: 100%;
  border-color: #cad6da;
  border-style: solid;
  padding-inline: 24px;
  padding-block: 8px;
  box-sizing: border-box;

  border-block-start-width: 0;
  border-inline-end-width: 1px;
  border-inline-start-width: 1px;
  border-block-end-width: 1px;
}
.rods-time-slots__list {
  margin-block-end: 0; /* reset <ul> */
  margin-block-start: 0; /* reset <ul> */
  margin-inline-end: 0; /* reset <ul> */
  margin-inline-start: 0; /* reset <ul> */
  padding-inline-start: 0; /* reset <ul> */

  display: flex;
  column-gap: var(--rods-time-slots-column-gap, 1ch);
  row-gap: var(--rods-time-slots-row-gap, 1em);
  flex-wrap: wrap;
  --rods-time-badge-min-inline-size: 100px;

  /* 5 columns of time slots */
  min-inline-size: calc(5 * var(--rods-time-badge-min-inline-size) + 4 * var(--rods-time-slots-column-gap, 1ch));
}
.rods-time-badge__slot {
  min-inline-size: 4em;
  border-color: var(--rods-time-badge-color, silver);
  border-style: solid;
  border-width: 1px;
}
.rods-time-badge {
  text-align: center;

  /* code taken from nl-data-badge */
  /* npm: @nl-design-system-candidate/data-badge-css@1.0.3 */
  background-color: var(--rods-time-badge-background-color);
  border-color: var(--rods-time-badge-border-color, currentColor);
  border-radius: var(--rods-time-badge-border-radius, 0);
  border-style: solid;
  border-width: var(--rods-time-badge-border-width, 1px);
  box-sizing: border-box;
  color: var(--rods-time-badge-color);
  display: inline-block;
  font-family: var(--rods-time-badge-font-family);
  font-size: var(--rods-time-badge-font-size);
  font-weight: var(--rods-time-badge-font-weight);
  line-height: var(--rods-time-badge-line-height);
  /* max-block-size: max-content; */
  /* max-inline-size: max-content; */
  min-block-size: var(--rods-time-badge-min-block-size, 24px);
  min-inline-size: var(--rods-time-badge-min-inline-size, 24px);
  padding-block: var(--rods-time-badge-padding-block);
  padding-inline: var(--rods-time-badge-padding-inline);
  text-decoration: none; /* no inheritance */
  user-select: none; /* behave like a button */
  -webkit-user-select: none; /* behave like a button */
  cursor: default; /* behave like a button */
}
.rods-time-badge--selected {
  background-color: var(--rods-time-badge-selected-background-color, var(--rods-time-badge-background-color));
  border-color: var(--rods-time-badge-selected-border-color, var(--rods-time-badge-border-color, currentColor));
  color: var(--rods-time-badge-selected-color, var(--rods-time-badge-color));
}
.rods-time-badge--selected b {
  display: contents;
}

@media (forced-colors: active) {
  .rods-time-badge {
    --rods-time-badge-background-color: field;
    --rods-time-badge-color: fieldtext;
    --rods-time-badge-hover-background-color: Highlight;
    --rods-time-badge-hover-color: HighlightText;
    --rods-time-badge-active-background-color: Highlight;
    --rods-time-badge-active-color: HighlightText;
    --rods-time-badge-disabled-background-color: field;
    --rods-time-badge-disabled-color: GrayText;
    --rods-time-badge-selected-background-color: Highlight;
    --rods-time-badge-selected-color: HighlightText;
    --rods-time-badge-selected-hover-background-color: Highlight;
    --rods-time-badge-selected-hover-color: HighlightText;
    --rods-time-badge-selected-disabled-background-color: GrayText;
    --rods-time-badge-selected-disabled-color: field;

    /* Fix rendering glitch in Google Chrome, where the text became black on a black background */
    forced-color-adjust: none;
  }
}

:focus-visible {
  --_utrecht-focus-ring-box-shadow: 0 0 0 var(--utrecht-focus-outline-width, 0)
    var(--utrecht-focus-inverse-outline-color, transparent);

  box-shadow: var(--_utrecht-focus-ring-box-shadow);
  outline-color: var(--utrecht-focus-outline-color, revert);
  outline-offset: var(--utrecht-focus-outline-offset, revert);
  outline-style: var(--utrecht-focus-outline-style, revert);
  outline-width: var(--utrecht-focus-outline-width, revert);
  z-index: 1;
}

.utrecht-calendar__table-days-item-day.utrecht-button:disabled {
  font-weight: normal;
}

.utrecht-calendar__table-days-item-day {
  --utrecht-button-min-inline-size: 64px;
  --utrecht-button-min-block-size: 64px;
  --utrecht-button-font-weight: 700;
  --utrecht-button-font-size: 20px;

  --utrecht-button-border-color: #7c8b90;
  --utrecht-button-background-color: white;
  --utrecht-button-border-width: 0;
  --utrecht-button-color: #404b4f;
  --utrecht-button-hover-border-color: var(--utrecht-button-border-color);
  --utrecht-button-hover-color: var(--utrecht-button-color);
  --utrecht-button-hover-background-color: var(--utrecht-button-background-color);

  --utrecht-button-pressed-border-color: var(--rods-color-base-green);
  --utrecht-button-pressed-color: var(--rods-color-base-white);
  --utrecht-button-pressed-background-color: var(--rods-color-base-green);

  --utrecht-button-disabled-border-color: transparent;
  --utrecht-button-disabled-color: #65757b;
  --utrecht-button-disabled-background-color: #cad6da;
  --utrecht-button-disabled-font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
  border: 1px solid #cad6da;
}

[rel="next"],
[rel="prev"] {
  --utrecht-button-padding-inline-end: 0;
  --utrecht-button-padding-block-end: 0;
  --utrecht-button-padding-inline-start: 0;
  --utrecht-button-padding-block-start: 0;
  --utrecht-button-icon-size: 24px;
  --utrecht-button-border-color: #7c8b90;
  --utrecht-button-background-color: white;
  --utrecht-button-border-width: 1px;
  --utrecht-button-color: #404b4f;
  --utrecht-button-hover-border-color: var(--utrecht-button-border-color);
  --utrecht-button-hover-color: var(--utrecht-button-color);
  --utrecht-button-hover-background-color: var(--utrecht-button-background-color);

  --utrecht-button-disabled-border-color: transparent;
  --utrecht-button-disabled-color: var(--utrecht-button-color);
  --utrecht-button-disabled-background-color: #cad6da;
}

[rel="next"] .utrecht-button__label,
[rel="prev"] .utrecht-button__label {
  /* */
  display: none;
}

.rods-button-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 16px;
}
.rods-button-navigation [rel="prev"] {
  order: 1;
}
.rods-button-navigation [rel="next"] {
  order: 3;
}
.rods-button-navigation__current {
  order: 2;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.rods-time-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  height: 100%;
}

.placeholder-cell {
  visibility: none;
}

strong {
  color: var(--rods-color-base-green);
}

p.utrecht-form-label {
  margin-block-end: 8px;
}

th {
  color: #65757b;
  font-weight: normal;
  padding-block: 4px;
  font-size: 24px;
}
.utrecht-button--pressed {
  --utrecht-button-hover-background-color: var(--utrecht-button-pressed-background-color);
  --utrecht-button-hover-color: var(--utrecht-button-pressed-color);
  --utrecht-button-hover-border-color: var(--utrecht-button-pressed-border-color);
  --utrecht-button-focus-background-color: var(--utrecht-button-pressed-background-color);
  --utrecht-button-focus-color: var(--utrecht-button-pressed-color);
  --utrecht-button-focus-border-color: var(--utrecht-button-pressed-border-color);
}

td:has(.utrecht-calendar__table-days-item-day--readonly) {
  border-width: 0;
}
.utrecht-calendar__table-days-item-day--readonly {
  display: none !important;
}

.utrecht-button--secondary-action {
  --utrecht-button-secondary-action-background-color: var(--rods-color-base-magenta);
  --utrecht-button-secondary-action-hover-background-color: var(--rods-color-base-magenta);
}

.today-marker {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  inset-block-end: 0;
  color: var(--rods-color-base-green);
  text-align: center;
  inset-inline-start: 0;
  inset-inline-end: 0;
}

.utrecht-textbox:where(button) {
  --utrecht-icon-size: 24px;
  text-align: start;
  display: inline-flex;
}

.utrecht-textbox .utrecht-icon {
  margin-inline-end: 8px;
}

.utrecht-drawer > form {
  display: contents;
}

.utrecht-drawer__rods-heading {
  font-size: inherit;
  font-weight: inherit;
}

.utrecht-drawer__rods-heading strong {
  color: inherit; /* TEMP: undo green <strong> */
}

.utrecht-drawer__rods-header {
  padding-inline: 12px;
  padding-block: 8px;
}
.utrecht-drawer__rods-body {
  padding-inline: 12px;
  padding-block: 8px;
}

.utrecht-drawer__rods-footer {
  padding-inline: 12px;
  padding-block: 8px;
  border-block-start: 1px solid silver;
}
