.rods-date-panels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  inline-size: 1180px;
}
.rods-date-panels__panel {
  max-inline-size: 40%;
  border: 1px solid red;
}
.rods-date-panels__panel-header {
  background-color: #cad6da;
  padding-inline: 24px;
  padding-block: 24px;
}
.rods-date-panels__panel-header > p {
  margin-block: 0;
}
.rods-date-panels__panel-body {
  padding-inline: 24px;
  padding-block: 16px;
}
.rods-date-panels__footer {
  inline-size: 100%;
}
.rods-time-slots__list {
  margin-block-end: 0; /* reset <ul> */
  margin-block-start: 0; /* reset <ul> */
  margin-inline-end: 0; /* reset <ul> */
  margin-inline-start: 0; /* reset <ul> */
  padding-inline-start: 0; /* reset <ul> */

  display: flex;
  column-gap: var(--rods-time-slots-column-gap, 1ch);
  row-gap: var(--rods-time-slots-row-gap, 1em);
  flex-wrap: wrap;
  --rods-time-badge-min-inline-size: 100px;

  /* 5 columns of time slots */
  min-inline-size: calc(5 * var(--rods-time-badge-min-inline-size) + 4 * var(--rods-time-slots-column-gap, 1ch));
}
.rods-time-badge__slot {
  min-inline-size: 4em;
  border-color: var(--rods-time-badge-color, silver);
  border-style: solid;
  border-width: 1px;
}
.rods-time-badge {
  text-align: center;

  /* code taken from nl-data-badge */
  /* npm: @nl-design-system-candidate/data-badge-css@1.0.3 */
  background-color: var(--rods-time-badge-background-color);
  border-color: var(--rods-time-badge-border-color, currentColor);
  border-radius: var(--rods-time-badge-border-radius, 0);
  border-style: solid;
  border-width: var(--rods-time-badge-border-width, 1px);
  box-sizing: border-box;
  color: var(--rods-time-badge-color);
  display: inline-block;
  font-family: var(--rods-time-badge-font-family);
  font-size: var(--rods-time-badge-font-size);
  font-weight: var(--rods-time-badge-font-weight);
  line-height: var(--rods-time-badge-line-height);
  /* max-block-size: max-content; */
  /* max-inline-size: max-content; */
  min-block-size: var(--rods-time-badge-min-block-size, 24px);
  min-inline-size: var(--rods-time-badge-min-inline-size, 24px);
  padding-block: var(--rods-time-badge-padding-block);
  padding-inline: var(--rods-time-badge-padding-inline);
  text-decoration: none; /* no inheritance */
  user-select: none; /* behave like a button */
  -webkit-user-select: none; /* behave like a button */
  cursor: default; /* behave like a button */
}
.rods-time-badge--selected {
  background-color: var(--rods-time-badge-selected-background-color, var(--rods-time-badge-background-color));
  border-color: var(--rods-time-badge-selected-border-color, var(--rods-time-badge-border-color, currentColor));
  color: var(--rods-time-badge-selected-color, var(--rods-time-badge-color));
}
.rods-time-badge--selected b {
  display: contents;
}

@media (forced-colors: active) {
  .rods-time-badge {
    --rods-time-badge-background-color: field;
    --rods-time-badge-color: fieldtext;
    --rods-time-badge-hover-background-color: Highlight;
    --rods-time-badge-hover-color: HighlightText;
    --rods-time-badge-active-background-color: Highlight;
    --rods-time-badge-active-color: HighlightText;
    --rods-time-badge-disabled-background-color: field;
    --rods-time-badge-disabled-color: GrayText;
    --rods-time-badge-selected-background-color: Highlight;
    --rods-time-badge-selected-color: HighlightText;
    --rods-time-badge-selected-hover-background-color: Highlight;
    --rods-time-badge-selected-hover-color: HighlightText;
    --rods-time-badge-selected-disabled-background-color: GrayText;
    --rods-time-badge-selected-disabled-color: field;

    /* Fix rendering glitch in Google Chrome, where the text became black on a black background */
    forced-color-adjust: none;
  }
}

:focus-visible {
  --_utrecht-focus-ring-box-shadow: 0 0 0 var(--utrecht-focus-outline-width, 0)
    var(--utrecht-focus-inverse-outline-color, transparent);

  box-shadow: var(--_utrecht-focus-ring-box-shadow);
  outline-color: var(--utrecht-focus-outline-color, revert);
  outline-offset: var(--utrecht-focus-outline-offset, revert);
  outline-style: var(--utrecht-focus-outline-style, revert);
  outline-width: var(--utrecht-focus-outline-width, revert);
  z-index: 1;
}

.utrecht-calendar__table-days-item-day {
  --utrecht-button-min-inline-size: 64px;
  --utrecht-button-min-block-size: 64px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

[rel="next"],
[rel="prev"] {
  --utrecht-button-padding-inline-end: 0;
  --utrecht-button-padding-block-end: 0;
  --utrecht-button-padding-inline-start: 0;
  --utrecht-button-padding-block-start: 0;
  --utrecht-button-icon-size: 24px;
}

[rel="next"] .utrecht-button__label,
[rel="prev"] .utrecht-button__label {
  /* */
  display: none;
}

.rods-button-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rods-button-navigation [rel="prev"] {
  order: 1;
}
.rods-button-navigation [rel="next"] {
  order: 3;
}
.rods-button-navigation__current {
  order: 2;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.rods-time-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  height: 100%;
}

.placeholder-cell {
  visibility: none;
}
