<wicket:panel xmlns:wicket="http://wicket.apache.org">
  <div class="utrecht-form-field">
    <div class="utrecht-form-field__label utrecht-form-field__label">
      <label wicket:id="label" class="utrecht-form-label utrecht-form-label"></label>
      <input wicket:id="control" type="text" />
      <wicket:container wicket:id="labelText"></wicket:container>
    </div>
    <div wicket:id="description" class="utrecht-form-field-description utrecht-form-field__description"></div>
    <div wicket:id="error" class="utrecht-form-field-error-message utrecht-form-field__error-message"></div>
  </div>
</wicket:panel>
