<?xml version="1.0" encoding="UTF-8" ?>
<!--
   Licensed to the Apache Software Foundation (ASF) under one or more
   contributor license agreements.  See the NOTICE file distributed with
   this work for additional information regarding copyright ownership.
   The ASF licenses this file to You under the Apache License, Version 2.0
   (the "License"); you may not use this file except in compliance with
   the License.  You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>


<!--  <nav class="utrecht-pagination utrecht-pagination&#45;&#45;distanced">-->
<!--  <span class="utrecht-pagination__before">-->
<!--    <span-->
<!--      class="utrecht-pagination__relative-link utrecht-pagination__relative-link&#45;&#45;disabled utrecht-pagination__relative-link&#45;&#45;prev"-->
<!--      rel="prev">Vorige</span>-->
<!--  </span>-->
<!--    <span role="group" class="utrecht-pagination__pages">-->
<!--      <a class="utrecht-pagination__page-link" href="./1">1</a>-->
<!--      <a class="utrecht-pagination__page-link" href="./2" rel="prev">2</a>-->
<!--      <a class="utrecht-pagination__page-link utrecht-pagination__page-link&#45;&#45;current" href="./3"-->
<!--         aria-current="true">3</a>-->
<!--      <a class="utrecht-pagination__page-link" href="./4" rel="next">4</a>-->
<!--      <a class="utrecht-pagination__page-link" href="./5">5</a></span>-->
<!--    <span class="utrecht-pagination__before">-->
<!--      <a href="./2" class="utrecht-pagination__relative-link utrecht-pagination__relative-link&#45;&#45;next" rel="next">Volgende</a>-->
<!--    </span>-->
<!--  </nav>-->

  <nav wicket:id="nldsNavigation">
  <span class="utrecht-pagination__before">
    <a wicket:id="first" class="first utrecht-pagination__page-link">&lt;&lt;</a>
    <a wicket:id="prev" rel="prev"
       class="utrecht-pagination__relative-link utrecht-pagination__relative-link--prev">&lt;</a>
    </span>

    <wicket:container wicket:id="navigation">
      <a wicket:id="pageLink">
        <wicket:container wicket:id="pageNumber">5</wicket:container>
      </a>
    </wicket:container>

    <a wicket:id="next" rel="next"
       class="utrecht-pagination__relative-link utrecht-pagination__relative-link--next">&gt;</a>
    <a wicket:id="last" class="last utrecht-pagination__page-link">&gt;&gt;</a>
  </nav>
</wicket:panel>
</body>
</html>
