<wicket:panel xmlns:wicket="http://wicket.apache.org">
  <p class="utrecht-form-field__label utrecht-form-field__label--checkbox">
    <label wicket:id="label" class="utrecht-form-label utrecht-form-label--checkbox">
      <input wicket:id="checkbox" type="checkbox" />
      <wicket:container wicket:id="labelText"></wicket:container>
    </label>
  </p>
  <div wicket:id="description" class="utrecht-form-field-description utrecht-form-field__description"></div>
  <div wicket:id="error" class="utrecht-form-field-error-message utrecht-form-field__error-message"></div>
</wicket:panel>
