name: Apache Wicket

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [21]

    name: Java ${{ matrix.java }}
    steps:
      - name: Clone Git repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
      - name: Cache dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Maven build
        run: ./mvnw install -N && ./mvnw install
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: "Component library JAR file for Java ${{ matrix.java }}"
          path: rotterdam-nlds-parent-wicket/rotterdam-nlds-wicket/target/*.jar
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: "Extension component library JAR file for Java ${{ matrix.java }}"
          path: rotterdam-nlds-parent-wicket/rotterdam-nlds-extensions-wicket/target/*.jar
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: "Icon library JAR file for Java ${{ matrix.java }}"
          path: rotterdam-nlds-parent-wicket/rotterdam-nlds-icons-wicket/target/*.jar
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: "CSS library JAR file for Java ${{ matrix.java }}"
          path: rotterdam-nlds-parent-wicket/rotterdam-nlds-css-wicket/target/*.jar
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: "Documentation WAR file for Java ${{ matrix.java }}"
          path: rotterdam-nlds-parent-wicket/docs-wicket/target/*.war
